<template name="broadcast_detail">
	<div class="broadcast-detail">
		<div class="avatar">
			<a href="">
				<img src="/img/rancho.jpg">
			</a>
		</div>
		<div class="broadcast-body">
			<h6>rancho</h6>
			<div class="message">
				请假流程提醒，必须同时满足以下两个条件：
1.请假需要有提前量（按工作日计算）：请假1天的，需要提前2天申请批准；请假2天的，需要提前一周申请批准；一次性请假3天以上的，需要提前二周申请批准；一次性请假超过5天的，需要提前一个月申请批准。
2.请假流程完成的前提：请假单和sfdc审批都通过。请假单拿在手里不交的，sfdc不申请的，都属于未通过请假申请的。
具体相关规定：http://cf.iprotime.com/pages/viewpage.action?pageId=46366870
＊＊＊从即日起，如出现上述情况的视情节轻重一律按事假及旷工处理，希望大家遵守！
			</div>
		</div>
		<div class="attachment">
			attachment
		</div>
		<div class="actions">
			datetime reply collection
		</div>
	</div>
</template>