<template name="aside-left">
	<aside class='aside-left'>
		<!--login info-->
		<div class="user-login">
			<a href="/">
				<img src="/img/rancho.jpg">
			</a>
			<a href="" class='username'>rancho</a>
		</div>
		<div class='actions'>
			<!-- todo:modify css -->
			<!-- 新建地址写分享 -->
			<a href="http://www.91xueya.com/note/add" class='btn btn-primary'>写分享</a>
			<!-- 弹框方式 -->
			<a href="javascript:;" class='btn btn-primary'>上传文件</a>
			<a href="javascript:;" class='btn btn-primary'> 提问</a>
		</div>
		<!--index and inbox-->
		<div class="nav">
			<ul class='nav'>
				<li class="active"><a href="/"> <i class="icon-home"></i>首页</a></li>
	          	<li class=""><a href="/share"> <i class="icon-book"></i> 博客</a></li>
	          	<li class=""><a href="/question"> <i class="icon-question-sign"></i> 问题</a></li>
	          	<li class=""><a href="/rss"> <i class="icon-rss"></i> 优秀rss</a></li>
	          	<li class=""><a href="/file"> <i class="icon-file"></i> 文件库</a></li>
			</ul>
			
		</div>
		
		
	</aside>
</template>