<template name="index">
	<div class="row">
		<div class="col-md-2" id="index-aside">
			{{>aside-left}}
		</div>
		<div class="col-md-10">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class='page-content'>
							{{>publish_textarea}}
							{{>broadcast_list}}
						</div>
					</div>
					<div class="col-md-3">
						<div class='suggested-container'>
							<!--unfinsh blog or question-->
							{{>user-drafts}}
							{{>suggested_blogs}}
							{{>suggested_peoples}}
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</template>